     :root {
        --off-white: hsl(0, 0%, 94%);
        --light-grey: hsl(0, 0%, 86%);
        --smokey-grey: hsl(0, 1%, 44%);
        --off-black: hsl(0, 0%, 8%);
        --purple: hsl(259, 100%, 65%);
        --light-red: hsl(0, 100%, 67%);
    }
    
    @font-face {
        font-family: Pop;
        src: url(./assets/fonts/Poppins-Regular.ttf);
    }
    
    * {
        font-family: Pop !important;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .container {}